<p>Sehr geehrter Benutzer,<br/><br/>
dies ist eine automatisch versendete Einladung für: $app<br/>
Ihr Benutzername ist: <b>$username</b><br/>
Ihr Passwort ist: <b>$password</b><br/>
<br/>
Um sich einzuloggen, gehen Sie bitte auf folgende Internetadresse: <b>$encoded_url</b>
<br/><br/>
Achtung: Beachten Sie beim Benutzernamen und Passwort die Groß-und Kleinschreibung. Sie haben 3 Versuche, das Passwort korrekt einzugeben.<br/> 
Nach dem ersten Anmelden werden Sie aufgefordert, das Passwort zu ändern.<br/>
</p>